@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, retro, light, dark, cupcake, bumblebee, emerald, 
    corporate, synthwave, cyberpunk, valentine, halloween, garden,
    forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk,
    autumn, business, acid, night, coffee, winter, dim, nord, sunset, caramellatte, 
    abyss, silk;
}

/* Custom Typography Plugin Styles for better Markdown formatting */
.prose {
  color: var(--color-base-content);
  line-height: 1.75;
}

.prose strong {
  color: var(--color-base-content);
  font-weight: 600;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose h1 {
  color: var(--color-base-content);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose h2 {
  color: var(--color-base-content);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose h3 {
  color: var(--color-base-content);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose a {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 500;
}

.prose a:hover {
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}

.prose ul, .prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--color-base-content);
  opacity: 0.7;
  border-left-width: 0.25rem;
  border-left-color: var(--color-base-300);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
